*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#111;
    color:white;
}

.hero{
    height:100vh;
    position:relative;
    display:flex;
    align-items:center;
    overflow:hidden;
    background:radial-gradient(circle at top left, #2a2a2a 0%, #181818 45%, #101010 100%);
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.20);
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:850px;
    margin-left:120px;
}

.hero-logo{
    width:280px;
    height:auto;
    display:block;
    margin-bottom:50px;
}

.hero h1{
    font-size:4rem;
    line-height:1.1;
    margin-bottom:25px;
    font-weight:700;
}

.hero h1 span{
    color:#00B85C;
    display:block;
}

.hero p{
    font-size:1.35rem;
    line-height:1.7;
    max-width:650px;
    margin-bottom:45px;
    color:#ffffff;
}

.buttons{
    display:flex;
    gap:15px;
}

.btn-primary{
    background:#00B85C;
    color:white;
    text-decoration:none;
    padding:18px 34px;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn-secondary{
    border:1px solid white;
    color:white;
    text-decoration:none;
    padding:15px 28px;
    border-radius:8px;
    transition:.3s;
}

.btn-primary:hover{
    opacity:.9;
}

.btn-secondary:hover{
    background:white;
    color:black;
}

.hero-graphic{
    position:absolute;

    right:0;
    bottom:70px;

    width:850px;
    height:auto;

    transform:translateX(-260px);

    z-index:1;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:22px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:999;
    background:rgba(0,0,0,.18);
    backdrop-filter:blur(8px);
}

.nav-logo{
    height:42px;
    width:auto;
}

.navbar nav{
    display:flex;
    gap:35px;
}

.navbar nav a{
    color:white;
    text-decoration:none;
    font-size:1rem;
    transition:.3s;
}

.navbar nav a:hover{
    color:#00B85C;
}

.nav-btn{
    background:#00B85C;
    color:white;
    text-decoration:none;
    padding:12px 22px;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.nav-btn:hover{
    opacity:.9;
}